#loginContainer {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#loginForm {
  display: flex;
  flex-direction: column;
}
#loginForm > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  font-size: 12px;
  width: 100px;
}

input {
  flex: 1;
  margin-top: 10px;
}

input[type="submit"] {
  align-self: center;
  margin: 0px auto;
  margin-top: 30px;
  background: #61dafb;
  padding: 10px;
  width: 100%;
  color: #282c34;
  font-weight: bolder;
}

.description {
  color: white;
  font-size: 12px;
  align-self: center;
  text-decoration: none;
}

a, a:visited {
  color: #61dafb;;
}