#confirmation_container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#confirmation_container > header {
  max-width: 40vw;
}

#confirmation_container > header > h1, h6 {
  text-align: center;
}

#confirmation_container > a {
  background: #61dafb;
  color: #282c34;
  min-width: 40vw;
}